/*
 * This file is part of elliotwright.co
 *
 * (c) Elliot Wright <elliot@elliotwright.co>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/**
 * Variables
 */

// Shades
$black:      #2b303b;
$charDark:   #343d46;
$char:       #4f5b66;
$charLight:  #65737e;
$smokeDark:  #a7adba;
$smoke:      #c0c5ce;
$smokeLight: #dfe1e8;
$white:      #eff1f5;

// Colours
$red:    #bf616a;
$orange: #d08770;
$yellow: #ebcb8b;
$green:  #a3be8c;
$cyan:   #96b5b4;
$blue:   #8fa1b3;
$purple: #b48ead;
$brown:  #ab7967;


// Typography
$font-stack-serif: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-stack-mono:  Inconsolata, monospace;
$font-stack-base:  $font-stack-serif;

$text-base:       $charLight;
$text-admin-base: $smoke;
$text-muted:      $smokeDark;
$text-primary:    $blue;
$text-success:    $green;
$text-info:       $blue;
$text-warning:    $orange;
$text-danger:     $red;

$font-weight-light:  300;
$font-weight-normal: 400;
$font-weight-bold:   700;

$font-size-base:   20px;
$line-height-base: 34px;
$font-size-mono:   16px;
$line-height-mono: 20px;

$font-base: #{$font-size-base}/#{$line-height-base} $font-stack-base;
$font-mono: #{$font-size-mono}/#{$line-height-mono} $font-stack-mono;


// Scaffolding
$content-width: 800px;
