{% extends 'SeerUKAdminModule:Admin:master.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1 class="title">
        Articles<br />
        <small>There are currently <strong class="text-info">0</strong> articles.</small>
    </h1>

    <section class="padded shaded text-center">
        <p>You've not written any articles!</p>
    </section>
{% endblock %}
