{% extends '::master-admin.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

    <section id="admin-article-list" class="main">
        <div class="page-title">
            <h1 class="title">
                <span>Articles</span> <small class="text-muted">({{ articles|length }})</small>
            </h1>
            <span class="pull-right text-muted">Sorted by: <strong><a href="#">Date created<span class="caret"></span></a></strong></span>
        </div>

        <table class="table table-hover table-fixed article-table">
            <tbody>
                <tr>
                    <td class="text-ellipsis article-title">
                        A Test Article
                        <span class="text-muted">- Article content. Hopefully the article will have at least a little bit more content than this?!</span>
                    </td>
                    <td class="text-ellipsis article-author">Elliot Wright</td>
                    <td class="text-right article-toggle">
                        <input type="checkbox" checked>
                    </td>
                </tr>
                <tr>
                    <td class="text-ellipsis article-title">
                        A Test Article
                        <span class="text-muted">- Article content. Hopefully the article will have at least a little bit more content than this?!</span>
                    </td>
                    <td class="text-ellipsis article-author">Elliot Wright</td>
                    <td class="text-right article-toggle">
                        <input type="checkbox" checked>
                    </td>
                </tr>
                <tr>
                    <td class="text-ellipsis article-title">
                        A Test Article
                        <span class="text-muted">- Article content. Hopefully the article will have at least a little bit more content than this?!</span>
                    </td>
                    <td class="text-ellipsis article-author">Elliot Wright</td>
                    <td class="text-right article-toggle">
                        <input type="checkbox" checked>
                    </td>
                </tr>
                <tr>
                    <td class="text-ellipsis article-title">
                        A Test Article
                        <span class="text-muted">- Article content. Hopefully the article will have at least a little bit more content than this?!</span>
                    </td>
                    <td class="text-ellipsis article-author">Elliot Wright</td>
                    <td class="text-right article-toggle">
                        <input type="checkbox" checked>
                    </td>
                </tr>
                <tr>
                    <td class="text-ellipsis article-title">
                        A Test Article
                        <span class="text-muted">- Article content. Hopefully the article will have at least a little bit more content than this?!</span>
                    </td>
                    <td class="text-ellipsis article-author">Elliot Wright</td>
                    <td class="text-right article-toggle">
                        <input type="checkbox" checked>
                    </td>
                </tr>
                <tr>
                    <td class="text-ellipsis article-title">
                        A Test Article
                        <span class="text-muted">- Article content. Hopefully the article will have at least a little bit more content than this?!</span>
                    </td>
                    <td class="text-ellipsis article-author">Elliot Wright</td>
                    <td class="text-right article-toggle">
                        <input type="checkbox" checked>
                    </td>
                </tr>
                <tr>
                    <td class="text-ellipsis article-title">
                        A Test Article
                        <span class="text-muted">- Article content. Hopefully the article will have at least a little bit more content than this?!</span>
                    </td>
                    <td class="text-ellipsis article-author">Elliot Wright</td>
                    <td class="text-right article-toggle">
                        <input type="checkbox" checked>
                    </td>
                </tr>
                <tr>
                    <td class="text-ellipsis article-title">
                        A Test Article
                        <span class="text-muted">- Article content. Hopefully the article will have at least a little bit more content than this?!</span>
                    </td>
                    <td class="text-ellipsis article-author">Elliot Wright</td>
                    <td class="text-right article-toggle">
                        <input type="checkbox" checked>
                    </td>
                </tr>
                <tr>
                    <td class="text-ellipsis article-title">
                        A Test Article
                        <span class="text-muted">- Article content. Hopefully the article will have at least a little bit more content than this?!</span>
                    </td>
                    <td class="text-ellipsis article-author">Elliot Wright</td>
                    <td class="text-right article-toggle">
                        <input type="checkbox" checked>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

{% endblock %}
