body {
    color: #65737e;
    font: 400 20px/34px Lato, sans-serif;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #343d46;
    font-weight: 300;
}

h1 {
    font-size: 3em;
    line-height: 1.2em;
}

a {
    color: #a7adba;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar:before,
.navbar:after {
    content: "";
    display: table;
}

.navbar:after {
    clear: both;
}

.navbar .brand {
    color: #c0c5ce;
    display: table;
    float: left;
    font-weight: 300;
    height: 50px;
    font-size: 26px;
    line-height: 1em;
    padding: 30px;
}

article {
    margin: 0 auto;
    max-width: 800px;
}

article .title,
article .details {
    text-align: center;
}

article .title {
    margin-bottom: 1em;
}

article .details {
    color: #c0c5ce;
    display: block;
    font-weight: 400;
    font-size: 16px;
}

article pre {
    background: #eff1f5;
    border-radius: 4px;
    font: 16px/20px Inconsolata, monospace;
    padding: 30px;
    white-space: pre-wrap;
}

input[type="text"],
textarea {
    border: 2px solid #dfe1e8;
    border-radius: 4px;
    font-size: 0.8em;
    outline: 0;
    padding: 12px;
}

input[type="text"]:focus,
textarea:focus {
    border-color: #96b5b4;
}

textarea {
    height: 300px;
    white-space: pre-wrap;
}

.input-block {
    display: block;
    width: 100%;
}

.input-mono {
    font-family: Inconsolata, monospace;
    font-size: 0.8em;
    line-height: 1.2em;
}

textarea.input-block {
    min-width: 100%;
    max-width: 100%;
}

.btn {
    background: #dfe1e8;
    border: 0;
    border-radius: 4px;
    color: #65737E;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    line-height: 1.15em;
    outline: 0;
    padding: 14px 28px;
    vertical-align: middle;
    transition: background 0.2s ease;
}

.btn:hover,
.btn:active {
    background: #d1d5dc;
    text-decoration: none;
}

.btn:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-bordered {
    border: 2px solid #dfe1e8;
    padding: 12px 26px;
}

.btn-bordered:hover {
    border-color: #d1d5dc;
}

.btn-bordered,
.btn-bordered:hover,
.btn-bordered:active {
    background: transparent;
}
