@font-face {
    font-family: 'flatline';
    src:url('flatline.eot?-45hfxq');
    src:url('flatline.eot?#iefix-45hfxq') format('embedded-opentype'),
        url('flatline.woff?-45hfxq') format('woff'),
        url('flatline.ttf?-45hfxq') format('truetype'),
        url('flatline.svg?-45hfxq#flatline') format('svg');
    font-weight: normal;
    font-style: normal;
}

.flatline {
    position: relative;
}

.flatline:before {
    font-family: 'flatline';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flatline > .flatline {
    position: absolute;
    left: 0;
}

.flatline.zoom-out:before {
    content: "\e600";
}
.flatline.zoom-in:before {
    content: "\e601";
}
.flatline.youtube:before {
    content: "\e602";
}
.flatline.wrench:before {
    content: "\e603";
}
.flatline.windows:before {
    content: "\e604";
}
.flatline.warning-sign:before {
    content: "\e605";
}
.flatline.volume-up:before {
    content: "\e606";
}
.flatline.volume-off:before {
    content: "\e607";
}
.flatline.volume-down:before {
    content: "\e608";
}
.flatline.user:before {
    content: "\e609";
}
.flatline.usd:before {
    content: "\e60a";
}
.flatline.upload:before {
    content: "\e60b";
}
.flatline.unchecked:before {
    content: "\e60c";
}
.flatline.twitter:before {
    content: "\e60d";
}
.flatline.tumblr:before {
    content: "\e60e";
}
.flatline.tree-conifer:before {
    content: "\e60f";
}
.flatline.trash:before {
    content: "\e610";
}
.flatline.transfer:before {
    content: "\e611";
}
.flatline.tower:before {
    content: "\e612";
}
.flatline.tint:before {
    content: "\e613";
}
.flatline.time:before {
    content: "\e614";
}
.flatline.thumbs-up:before {
    content: "\e615";
}
.flatline.thumbs-down:before {
    content: "\e616";
}
.flatline.th:before {
    content: "\e617";
}
.flatline.th-list:before {
    content: "\e618";
}
.flatline.th-large:before {
    content: "\e619";
}
.flatline.text-width:before {
    content: "\e61a";
}
.flatline.text-height:before {
    content: "\e61b";
}
.flatline.tasks:before {
    content: "\e61c";
}
.flatline.tags:before {
    content: "\e61d";
}
.flatline.tag:before {
    content: "\e61e";
}
.flatline.stop:before {
    content: "\e61f";
}
.flatline.step-forward:before {
    content: "\e620";
}
.flatline.step-backward:before {
    content: "\e621";
}
.flatline.stats:before {
    content: "\e622";
}
.flatline.star:before {
    content: "\e623";
}
.flatline.star-empty:before {
    content: "\e624";
}
.flatline.sort:before {
    content: "\e625";
}
.flatline.sort-by-order:before {
    content: "\e626";
}
.flatline.sort-by-order-alt:before {
    content: "\e627";
}
.flatline.sort-by-attributes:before {
    content: "\e628";
}
.flatline.sort-by-attributes-alt:before {
    content: "\e629";
}
.flatline.sort-by-alphabet:before {
    content: "\e62a";
}
.flatline.sort-by-alphabet-alt:before {
    content: "\e62b";
}
.flatline.signal:before {
    content: "\e62c";
}
.flatline.shopping-cart:before {
    content: "\e62d";
}
.flatline.share:before {
    content: "\e62e";
}
.flatline.new-window:before {
    content: "\e62e";
}
.flatline.share-alt:before {
    content: "\e62f";
}
.flatline.send:before {
    content: "\e630";
}
.flatline.search:before {
    content: "\e631";
}
.flatline.screenshot:before {
    content: "\e632";
}
.flatline.saved:before {
    content: "\e633";
}
.flatline.save:before {
    content: "\e634";
}
.flatline.road:before {
    content: "\e635";
}
.flatline.retweet:before {
    content: "\e636";
}
.flatline.resize-vertical:before {
    content: "\e637";
}
.flatline.resize-small:before {
    content: "\e638";
}
.flatline.resize-horizontal:before {
    content: "\e639";
}
.flatline.resize-full:before {
    content: "\e63a";
}
.flatline.repeat:before {
    content: "\e63b";
}
.flatline.remove:before {
    content: "\e63c";
}
.flatline.remove-sign:before {
    content: "\e63d";
}
.flatline.refresh:before {
    content: "\e63e";
}
.flatline.record:before {
    content: "\e63f";
}
.flatline.random:before {
    content: "\e640";
}
.flatline.question-sign:before {
    content: "\e641";
}
.flatline.qrcode:before {
    content: "\e642";
}
.flatline.pushpin:before {
    content: "\e643";
}
.flatline.print:before {
    content: "\e644";
}
.flatline.plus:before {
    content: "\e645";
}
.flatline.plus-sign:before {
    content: "\e646";
}
.flatline.play:before {
    content: "\e647";
}
.flatline.play-circle:before {
    content: "\e648";
}
.flatline.plane:before {
    content: "\e649";
}
.flatline.pinterest:before {
    content: "\e64a";
}
.flatline.picture:before {
    content: "\e64b";
}
.flatline.phone:before {
    content: "\e64c";
}
.flatline.phone-alt:before {
    content: "\e64d";
}
.flatline.pencil:before {
    content: "\e64e";
}
.flatline.pause:before {
    content: "\e64f";
}
.flatline.paperclip:before {
    content: "\e650";
}
.flatline.open:before {
    content: "\e651";
}
.flatline.ok:before {
    content: "\e652";
}
.flatline.ok-sign:before {
    content: "\e653";
}
.flatline.off:before {
    content: "\e654";
}
.flatline.music:before {
    content: "\e655";
}
.flatline.move:before {
    content: "\e656";
}
.flatline.minus:before {
    content: "\e657";
}
.flatline.minus-sign:before {
    content: "\e658";
}
.flatline.map-marker:before {
    content: "\e659";
}
.flatline.magnet:before {
    content: "\e65a";
}
.flatline.login:before {
    content: "\e65b";
}
.flatline.log-out:before {
    content: "\e65c";
}
.flatline.lock:before {
    content: "\e65d";
}
.flatline.list:before {
    content: "\e65e";
}
.flatline.list-alt:before {
    content: "\e65f";
}
.flatline.link:before {
    content: "\e660";
}
.flatline.leaf:before {
    content: "\e661";
}
.flatline.italic:before {
    content: "\e662";
}
.flatline.instagram:before {
    content: "\e663";
}
.flatline.info-sign:before {
    content: "\e664";
}
.flatline.indent-right:before {
    content: "\e665";
}
.flatline.indent-left:before {
    content: "\e666";
}
.flatline.inbox:before {
    content: "\e667";
}
.flatline.import:before {
    content: "\e668";
}
.flatline.home:before {
    content: "\e669";
}
.flatline.heart:before {
    content: "\e66a";
}
.flatline.heart-empty:before {
    content: "\e66b";
}
.flatline.headphones:before {
    content: "\e66c";
}
.flatline.header:before {
    content: "\e66d";
}
.flatline.hdd:before {
    content: "\e66e";
}
.flatline.hand-up:before {
    content: "\e66f";
}
.flatline.hand-right:before {
    content: "\e670";
}
.flatline.hand-left:before {
    content: "\e671";
}
.flatline.hand-down:before {
    content: "\e672";
}
.flatline.gplus:before {
    content: "\e673";
}
.flatline.globe:before {
    content: "\e674";
}
.flatline.glass:before {
    content: "\e675";
}
.flatline.gift:before {
    content: "\e676";
}
.flatline.gbp:before {
    content: "\e677";
}
.flatline.fullscreen:before {
    content: "\e678";
}
.flatline.foursquare:before {
    content: "\e679";
}
.flatline.forward:before {
    content: "\e67a";
}
.flatline.font:before {
    content: "\e67b";
}
.flatline.folder-open:before {
    content: "\e67c";
}
.flatline.folder-close:before {
    content: "\e67d";
}
.flatline.floppy-saved:before {
    content: "\e67e";
}
.flatline.floppy-save:before {
    content: "\e67f";
}
.flatline.floppy-remove:before {
    content: "\e680";
}
.flatline.floppy-open:before {
    content: "\e681";
}
.flatline.floppy-disk:before {
    content: "\e682";
}
.flatline.flash:before {
    content: "\e683";
}
.flatline.flag:before {
    content: "\e684";
}
.flatline.fire:before {
    content: "\e685";
}
.flatline.filter:before {
    content: "\e686";
}
.flatline.film:before {
    content: "\e687";
}
.flatline.file:before {
    content: "\e688";
}
.flatline.fast-forward:before {
    content: "\e689";
}
.flatline.fast-backward:before {
    content: "\e68a";
}
.flatline.facetime-video:before {
    content: "\e68b";
}
.flatline.facebook:before {
    content: "\e68c";
}
.flatline.eye-open:before {
    content: "\e68d";
}
.flatline.eye-close:before {
    content: "\e68e";
}
.flatline.export:before {
    content: "\e68f";
}
.flatline.expand:before {
    content: "\e690";
}
.flatline.exclamation-sign:before {
    content: "\e691";
}
.flatline.euro:before {
    content: "\e692";
}
.flatline.envelope:before {
    content: "\e693";
}
.flatline.eject:before {
    content: "\e694";
}
.flatline.edit:before {
    content: "\e695";
}
.flatline.earphone:before {
    content: "\e696";
}
.flatline.dropbox:before {
    content: "\e697";
}
.flatline.dribbble:before {
    content: "\e698";
}
.flatline.download:before {
    content: "\e699";
}
.flatline.download-alt:before {
    content: "\e69a";
}
.flatline.dashboard:before {
    content: "\e69b";
}
.flatline.cutlery:before {
    content: "\e69c";
}
.flatline.credit-card:before {
    content: "\e69d";
}
.flatline.compressed:before {
    content: "\e69e";
}
.flatline.comment:before {
    content: "\e69f";
}
.flatline.collapse-up:before {
    content: "\e6a0";
}
.flatline.collapse-down:before {
    content: "\e6a1";
}
.flatline.cog:before {
    content: "\e6a2";
}
.flatline.cloud:before {
    content: "\e6a3";
}
.flatline.cloud-upload:before {
    content: "\e6a4";
}
.flatline.cloud-download:before {
    content: "\e6a5";
}
.flatline.circle-arrow-right:before {
    content: "\e6a6";
}
.flatline.circle-arrow-left:before {
    content: "\e6a7";
}
.flatline.chevron-up:before {
    content: "\e6a8";
}
.flatline.chevron-right:before {
    content: "\e6a9";
}
.flatline.chevron-left:before {
    content: "\e6aa";
}
.flatline.chevron-down:before {
    content: "\e6ab";
}
.flatline.check:before {
    content: "\e6ac";
}
.flatline.certificate:before {
    content: "\e6ad";
}
.flatline.camera:before {
    content: "\e6ae";
}
.flatline.calendar:before {
    content: "\e6af";
}
.flatline.bullhorn:before {
    content: "\e6b0";
}
.flatline.briefcase:before {
    content: "\e6b1";
}
.flatline.bookmark:before {
    content: "\e6b2";
}
.flatline.book:before {
    content: "\e6b3";
}
.flatline.bold:before {
    content: "\e6b4";
}
.flatline.bell:before {
    content: "\e6b5";
}
.flatline.barcode:before {
    content: "\e6b6";
}
.flatline.ban-circle:before {
    content: "\e6b7";
}
.flatline.backward:before {
    content: "\e6b8";
}
.flatline.asterisk:before {
    content: "\e6b9";
}
.flatline.arrow-up:before {
    content: "\e6ba";
}
.flatline.arrow-right:before {
    content: "\e6bb";
}
.flatline.arrow-left:before {
    content: "\e6bc";
}
.flatline.arrow-down:before {
    content: "\e6bd";
}
.flatline.apple:before {
    content: "\e6be";
}
.flatline.android:before {
    content: "\e6bf";
}
.flatline.align-right:before {
    content: "\e6c0";
}
.flatline.align-left:before {
    content: "\e6c1";
}
.flatline.align-justify:before {
    content: "\e6c2";
}
.flatline.align-center:before {
    content: "\e6c3";
}
.flatline.adjust:before {
    content: "\e6c4";
}
