/*
 * This file is part of elliotwright.co
 *
 * (c) Elliot Wright <elliot@elliotwright.co>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/**
 * FE Styles
 */

* {
    box-sizing: border-box;
}

// Bourbon
@import "../../vendor/bourbon/dist/bourbon";
@import "../../vendor/neat/app/assets/stylesheets/neat";

// Modules
@import "modules/variables";

// Partials
@import "partials/helpers";
@import "partials/typography";
@import "partials/article";
@import "partials/navbar";
@import "partials/dropdown-menu";
@import "partials/social";
