/*
 * This file is part of elliotwright.co
 *
 * (c) Elliot Wright <elliot@elliotwright.co>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/**
 * Forms
 */

// Base
.form-control {
    @include border-radius(4px);
    @include transition(border-color 0.2s ease);

    border: 2px solid $smokeLight;
    display: block;
    font-size: $font-size-base * 0.8;
    min-width: 100%;
    max-width: 100%;
    outline: 0;
    padding: 12px;
    tab-size: 4;
    width: 100%;

    &:focus {
        border-color: $cyan;
    }
}

textarea.form-control {
    height: 300px;
}

.form-row {
    margin-bottom: $font-size-base;
}
