/*
 * This file is part of elliotwright.co
 *
 * (c) Elliot Wright <elliot@elliotwright.co>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/**
 * Scaffolding
 */

// Generic
.navbar {
    @extend .centered;
    @extend .clearfix;

    &.navbar-fluid {
        display: block;
        width: 100%;
    }

    // Logo
    .brand {
        color: $text-muted;
        display: table;
        font-weight: $font-weight-light;
        font-size: $font-size-base * 1.3;
        line-height: 1.3em;
        padding: 30px;
    }
}

section.padded,
section.shaded {
    *:first-child {
        margin-top: 0;
    }

    *:last-child {
        margin-bottom: 0;
    }
}

section.padded {
    padding: 30px;
}

section.shaded {
    background: $white;
    border-radius: 4px;
}

// Blog
article {
    @extend .centered;
}
