/*
 * This file is part of elliotwright.co
 *
 * (c) Elliot Wright <elliot@elliotwright.co>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/**
 * Scaffolding
 */

html,
body {
    height: 100%;
}

// Generic
.navbar {
    @extend .centered;
    @extend .clearfix;

    background: $white;

    &.navbar-fluid {
        display: block;
        width: 100%;
    }

    // Logo
    .brand {
        color: $text-muted;
        display: table;
        font-weight: $font-weight-bold;
        font-size: $font-size-base * 0.7;
        line-height: 1.3em;
        padding: 20px;
        text-transform: uppercase;
    }
}

section.padded,
section.shaded {
    *:first-child {
        margin-top: 0;
    }

    *:last-child {
        margin-bottom: 0;
    }
}

section.padded {
    padding: 30px;
}

section.shaded {
    background: $white;
    border-radius: 4px;
}

// Blog
article {
    @extend .clearfix;

    section.jumbotron,
    section.content {
        @extend .centered;

        @include media(max-width 900px) {
            height: auto;
            padding: 0 50px 0;
            width: 100%;
        }
    }
}

footer {
    .copyright {
        @extend .centered;

        padding: 50px 0;

        @include media(max-width 900px) {
            width: 100%;
        }
    }
}