/*
 * This file is part of elliotwright.co
 *
 * (c) Elliot Wright <elliot@elliotwright.co>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/**
 * Typography
 */

// Base
html,
body {
    min-height: 100%;
}

body {
    color: $text-base;
    font: $font-base;
}

hr {
    border: 0;
    background: $white;
    height: 2px;
}

a {
    color: $text-muted;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

p,
pre {
    margin: $font-size-base 0;
}

blockquote {
    border-left: 2px solid $white;
    font-style: italic;
    margin: 1em 0;
    padding: 10px 40px;
}

blockquote * {
    margin: 0;
}

// Support
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.text-info { color: $text-info; }
.text-success { color: $text-success; }
.text-warning { color: $text-warning; }
.text-danger { color: $text-danger; }

// Headers
.title,
.jumbo-title {
    color: $charDark;
    font-size: $font-size-base * 3;
    font-weight: $font-weight-light;
    line-height: 1.2em;
    margin-bottom: 1em;
    margin-top: 0.67em;

    .admin & {
        color: $white;
    }

    img {
        vertical-align: middle;
    }

    small {
        color: $text-muted;
        display: block;
        font-weight: $font-weight-normal;
        font-size: $font-size-base * 0.8;
    }
}

.title {
    font-size: $font-size-base * 2;
    margin: 0.8em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $cyan;
    font-weight: $font-weight-light;
    line-height: 1.2em;
    margin: 0.6em 0;
}

h1 {
    font-size: $font-size-base * 2;
}

h2 {
    font-size: $font-size-base * 1.5;
}

h3 {
    font-size: $font-size-base * 1.25;
}

h4 {
    font-size: $font-size-base * 1.125;
}

h5 {
    font-size: $font-size-base;
}

h6 {
    font-size: $font-size-base * 0.8;
}

// Footer
.copyright {
    @extend .centered;
    @extend .text-center;

    color: $text-muted;
    font-size: $font-size-base * 0.8;
    padding: 50px 0;
}

// Monospaced
.mono {
    font: $font-mono;
}