/*
 * This file is part of elliotwright.co
 *
 * (c) Elliot Wright <elliot@elliotwright.co>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/**
 * Sections
 */

section.main {
    padding-left: 50px;
    padding-right: 50px;

    @include media(min-width $screen-tablet) {
        margin: 0 auto;
        width: $screen-tablet;
    }

    @include media(min-width $screen-med) {
        width: $screen-med;
    }
}

section.page-title {
    border-bottom: 1px solid $white;
    padding: 60px 0;
    vertical-align: middle;

    .title {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
}

section.page-controls {
    @extend .clearfix;

    line-height: 32px;
    padding: 20px 0;

    a,
    a:hover {
        text-decoration: none;
    }

    i {
        font-size: 32px;
    }
}
